@import '@site/src/css/_variables.scss';

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: $brand-dark;
  box-shadow: 0 0 10px #000;

  h1 {
    color: $brand-accent;

    span {
      color: lighten($brand-primary, 25%);
    }
  }

  p {
    color: white;
  }

  a:first-of-type {
    background-color: $brand-accent;
    color: $brand-dark;

    &:hover {
      background-color: lighten($brand-dark, 10%);
      border-color: lighten($brand-primary, 80%);
      color: lighten($brand-accent, 25%);
    }
  }

  a:not(:first-of-type) {
    background-color: transparent;
    color: $brand-accent;
    border-color: transparent;

    &:hover {
      background-color: darken($brand-accent, 50%);
    }
  }
}

.heroImg {
  position: absolute;
  top: -25%;
  width: 40%;
  right: 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroImg {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  >:global(.button) {
    margin: 0 0.5rem;
  }
}

:global(.footer__copyright) {
  text-align: left;
  font-size: 12px;
}

[data-theme='dark'] {
  .heroBanner {
    box-shadow: 0 0 10px $brand-mid;
  }
}