.attribute {
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1.3rem;
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);

  &:hover {
    .attribute-link {
      opacity: 1;
    }
  }
}

.attribute:not(:last-child) {
  border-bottom: 1px solid rgb(45, 45, 45);
}

details .attribute:not(:last-child) {
  border-bottom: 1px solid rgb(75, 100, 120);
}

.attribute-info, .attribute-info-perms {
  font-size: 14px;

  small {
    font-size: 12px;
  }
}

.attribute-info-perms {
  code {
    margin-left: 1.5rem;
  }

  :global(.material-symbols-outlined) {
    color: #ddac30;
    position: absolute;
    font-size: 18px;
    margin-top: 4px;
    cursor: default;
  }
}

.attribute-link {
  cursor: pointer;
  position: absolute;
  margin-left: -1.7rem;
  margin-top: 0.1rem;
  opacity: 0;
  transition: opacity var(--ifm-transition-fast);
}

.attribute-permissions {
  margin-top: 0.5rem;
}

.attribute-deprecated {
  display: inline-block;
  margin-left: 0.5rem;

  span {
    background-image: repeating-linear-gradient(
      -70deg,
      #00000020 0px,
      #00000020 10px,
      #ffb30120 10px,
      #ffb10120 20px
    );
  }
}

.attribute-optional, .attribute-required {
  float: right;
}

.attribute-required {
  color: #ddac30;
}

.attribute-optional {
  font-style: italic;
}