@import '@site/src/css/_variables.scss';

.main {
  padding: 1.25rem 1rem 1rem 2rem;

  h1 {
    margin-bottom: 0.1rem;
  }

  li > p:first-child {
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 0.85rem;
  color: gray;

  padding-bottom: 0.25rem;
  border-bottom: 1px solid $brand-mid;
  margin-bottom: 1rem;
}

@media screen and (max-width: 966px) {
  .main {
    padding: 1.1rem;
  }
}